@import 'reset';
@import 'variables';

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.btn {
  border-radius: 0.5rem;
}

.head {
  background-color: $brand-text;
  color: $cothers;

  .para {
    color: $text-white;
  }
}

.container, .container-fluid{
  width: $pcent;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@for $n from 1 through $grid-cols {
  .col-#{$n} {
    flex: 0 0 percentage($n/$grid-cols);
    max-width: percentage($n/$grid-cols);
  }
}

@for $n from 1 through $grid-cols {
  .order-#{$n} {
    order: $n;
  }
}

@mixin mq($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  };
};

@mixin dynamicCols($modifier, $grid-cols, $breakpoint) {
  @include mq($breakpoint) {
    @for $n from 1 through $grid-cols {
      .order-#{$modifier}-#{$n} {
        order: $n;
      }
      .col-#{$modifier}-#{$n} {
        flex: 0 0 percentage($n/$grid-cols);
        max-width: percentage($n/$grid-cols);
      }
    }
  } 
};

@each $modifier, $breakpoint in $screens {
  @include dynamicCols($modifier, $grid-cols, $breakpoint);
}
